* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s ease;
}

body {
  background: linear-gradient(136deg, rgb(90, 132, 72) 12.91%, rgb(10, 46, 26) 87.68%);

  width: 100%;
  min-height: 100vh;
  padding: 20px 165px 0;

  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  /* Oculta a barra de rolagem no Chrome */
}

.main {
  background: linear-gradient(182deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
  padding-bottom: 20px;
}


header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  margin-bottom: 140px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #f8f8fd;
  text-decoration: none;
  position: relative;
}

/* Efeito nos links */
.underline:after {
  content: "";
  width: 0%;
  height: 2px;
  left: 0px;
  bottom: -3px;
  background-color: #f8f8fd;
  position: absolute;
  transition: 0.3s ease;
}

.underline:hover::after {
  width: 100%;
}

.nav-link {
  z-index: 1;
}

.btn-link {
  padding: 10px 20px;
  border: 1px solid #f8f8fd;
  border-radius: 41px;
}

.btn-link:hover {
  opacity: 0.7;
}

/* ---------------- */
section {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 500px;
}

.container-left {
  width: 50%;
  height: 450px;
  position: relative;
}

.container-left img {
  width: 650px;
  position: absolute;
  bottom: 60px;
  left: -50px;
  animation: moveAbobora 2s infinite alternate ease-in-out;


}

/* Efeito seta indicativo */

.container-left-info {
  position: absolute;
  bottom: 0px;
  left: 50px;

  padding-right: 20px;
  border-right: 2px solid #A7DE93;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 85px;
}

.container-left-info::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #A7DE93;
  position: absolute;
  right: -7px;
  top: -9px;
}

/* ---------------- */
.container-left-info-p-1 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.container-left-info-p-2 {
  color: #FFFFFF;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}

/* ------------- */

.container-right h2 {
  color: #F8F8FD;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  width: 445px;

}

.container-right-info p:first-child {
  color: #FFF;

  font-family: Poppins;
  font-size: 68px;
  font-style: normal;
  font-weight: 900;
  line-height: 109%;
  width: 445px;
}

.container-right-info p:last-child {
  color: #FFF;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  opacity: 0.8;
  width: 445px;

  margin-top: 25px;
}

/* --------- */


.container-actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;

  margin-top: 50px;
}

.container-actions button {
  color: #303056;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  background: none;
  background-image: url("./assets//Btn.svg");
  border: none;

  width: 169px;
  height: 83px;
}

.container-actions a {
  color: #FFF;

  text-align: right;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.container-actions a img {
  margin-left: 12px;
}

/* --------- */

.button-end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 49px;
  background: none;
  border: none;
  background-image: url("./assets/Btn2.svg");

  width: 188px;
  height: 90px;

  color: #FFF;


  font-size: 15px;
  font-weight: 600;

  margin-bottom: 20px;
}

@keyframes moveAbobora {
  from {
    transform: translate(-5%, -5%) rotate(15deg);
  }

  to {
    transform: translate(0, 0) rotate(-15deg);
  }
}